<div ng-controller="flyerPostController">
	<div class="row">
		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel-default panel-transparent">
				<div class="panel-heading">
					<h5 style="text-align: center;" id="logo">Add your flyer</h5>
				</div>
				<div class="panel-body form-area">
					<form ng-submit="createEvent(newEvent)">
						<div class="form-group">
							<label for="title">Title</label>
							<input id="title" class="form-control" type="text" ng-model="newEvent.title" placeholder="Title">
						</div>
						<div class="form-group">
							<label for="category">Category</label>
							<input id="category" class="form-control" type="text" ng-model="newEvent.category" placeholder="Category">
						</div>
						<div class="form-group">
							<label for="dateField">Event date</label>
							<input id="dateField" class="form-control" type="date" ng-model="newEvent.date">
						</div>
						<div class="form-group">
							<label for="timeField">Time</label>
							<input id="timeField" class="form-control" type="time" ng-model="time">
						</div>
						<div class = "form-group">
							<label for="locationField">Event Location</label>
							<input class="form-control" id="locationField" type="text" ng-model="searchString">
							<button type='button' class="btn btn-default" ng-click="search(searchString)" data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-search">
									Search
								</span>
							</button>
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">Select Location</h4>
								      </div>
								      <div class="modal-body">
								      	<div class="row" ng-repeat="location in locations">
								      		<div class="col-md-8">
								      			<h4>{{location.formatted_address}}</h4>
								      		</div>
								      		<div class="col-md-2"></div>
								      		<div class="col-md-2">
								      			<button ng-click="getSelectedLocation(location.geometry.location, location.formatted_address)" class="btn btn-sm btn-success" data-dismiss="modal">Select</button>
								      		</div>
								      		<hr />
								      	</div>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div>
								  </div>
							</div>
						</div>
						<div class="form-group">
							<label for="file">Upload file here: </label>
							<input type="file" id="file" name="file"/>
							<br />
						</div>
						<div style="text-align: center;" >
							<button type="submit" class="btn btn-success">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-2">
		</div>
	</div>
</div>