<div ng-controller="flyerPostController">
<form ng-submit="createEvent(newEvent)">
	<div class="form-group">
		<input class="form-control" type="text" ng-model="newEvent.title" placeholder="title">
	</div>
	<div class="form-group">
		<input class="form-control" type="date" ng-model="newEvent.date">
	</div>
	<div class="form-group">
		<input type="file" id="file" name="file"/>
		<button type='button' ng-click="add()">Upload</button>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>